{% extends "base.html" %}

{% block content %}

<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
/>

<div class="py-2">
    <div class="py-4"> Welcome to Rain Rain Go Away, your personal weather search engine. Please follow the following instructions to use the website: </div>
    <ol>
        <li> Please login to access the website and save your searches. </li>
        <li> Look up a weather location using the search bar. </li>
        <li> Navigate to "Daily Weather" to view the 3-days weather condition for your searched location. You may also click on the individual dates to view the detail weather conditions for that day. </li>
        <li> Navigate to "Hourly Weather" to view the 24-hours weather condition for your searched location. You may also click on the individual hours to view the detail weather conditions for that hour. </li>
        <li> In the daily weather page, you may add any notes you have for the day, such as your mood, to-do, etc. </li>
    </ol>
</div>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyNo0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
/>

{% endblock content %}