{% extends "base.html" %}

{% load django_vite %}
{% block head %}
    <script type="text/javascript">
        var ext_csrf_token = '{{ csrf_token }}'
        var ext_django_form = `{{ form.as_p | safe }}`
        var ext_weather_dico = {{ weather_dico }} 
        var ext_update_bis_url = "{% url 'weather:observation_update_bis' object.id %}"
    </script>
{% endblock head%}

{% block form %}
  {{ block.super }}
{% endblock %}

{% block content %}
<br />
<div id="app">
    <app></app>
</div>

{% endblock content %}

{% block js %}
    {{ block.super }} 
    <script>
        var ext_csrf_token = '{{ csrf_token }}'
        var ext_django_form = `{{ form.as_p | safe }}`
        var ext_weather_dico = {{ weather_dico | safe }} 
        var ext_update_bis_url = "{% url 'weather:observation_update_bis' object.id %}"
    </script>
    {% vite_hmr_client %}
    {% vite_asset 'src/apps/weather_edit/weather_edit.js' %} 
{% endblock js %}