{% extends "base.html" %}
{% load static %}

{% block content %}
<a href="{% url 'hourly:hourly_list' %}">Hourly Weather</a>

<h1  class="pt-3">3 Day Weather in {{ observations.0.location }} </h1>

<div class="weather-list">
    <div >
        <div>
            {% for weather in observations %}

                    <a href="{% url 'weather:weather_detail_bis' weather.id %}">

                {{ weather.date|date:"l d" }}</a>
                {{weather.max_f}}/{{weather.min_f}} 
                <img style="" src={{ weather.condition_img }} alt="image"/> 
                {{weather.condition}}
                <i class="bi bi-droplet"></i>{{weather.precip_in}}
                <i class="bi bi-wind"></i> {{weather.wind_mph}} MPH
            <br/>
            {% endfor %}
        </div>
       
    </div>
</div>


{% endblock content %}