{% extends "base.html" %}

{% load django_vite %}
{% block head %}
    <script type="text/javascript">
        var ext_weather_id = {{ weather_id }}
        var ext_weather_list_url = '{% url 'weather:weather_list' %}'
        var ext_weather_detail_js_url = '{% url 'weather:weather_detail_js' weather_id %}'
        var ext_weather_update_url = '{% url 'weather:weather_update' weather_id %}'
    </script>
{% endblock head%}  
{% block content %}

    <div id="app">
        <app></app>
    </div>

{% endblock content %}

{% block js %}
    {{ block.super }} 
    <script>
        var ext_weather_id = {{ weather_id }}
        var ext_weather_list_url = '{% url 'weather:weather_list' %}'
        var ext_weather_detail_js_url = '{% url 'weather:weather_detail_js' weather_id %}'
        var ext_weather_update_url = '{% url 'weather:weather_update' weather_id %}'
    </script>
    {% vite_hmr_client %}
    {% vite_asset 'src/apps/weather_get/weather_get.js' %} 
{% endblock js %}