{% extends "base.html" %}

{% load django_vite %}

{% block content %}

<a href="{% url 'weather:weather_list' %}">Observations</a>

<br />
<div id="app">
    <app></app>
</div>

{% endblock content %}

{% block js %}
    {{ block.super }} 
    <script>
        var ext_csrf_token = '{{ csrf_token }}'
        var ext_django_form = `{{ form.as_p | safe }}`
        var ext_weather_dico = {{ weather_dico | safe }} 
        var ext_update_bis_url = "{% url 'weather:weather_update' weather.id %}"
    </script>
    {% vite_hmr_client %}
    {% vite_asset 'src/apps/weather_edit/weather_edit.js' %} 
{% endblock js %}