{% extends "base.html" %}
{% load django_vite %}
{% block content %}

<a href="{% url 'weather:weather_list' %}">Daily Weather</a>
{% comment %} <a href="{% url 'weather:weather_update' object.id %}">Update Observation</a><br /> {% endcomment %}

    <div id="app">
        <app></app>
    </div>
    <h1>{{ object.date }}</h1>
    Max: {{object.max_f}}<br />
    Min: {{object.min_f}}<br />
    UV Index: {{object.uv}}<br /><br>
    {% for hourly in hourlys %}
        Time: {{ hourly.date }} <br>
        Temperature: {{ hourly.temp_f }} <br>
        Condition: {{ hourly.condition }} <br>
        <img src={{ hourly.condition_img }}><br>
        <br/>
    {% endfor%}
{% endblock content %}