{% extends "base.html" %}
{% load static %}

{% block content %}

<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous"
/>

{% block form %}
  {{ block.super }}
{% endblock %}

<h3 class="pt-4">3 Day Weather in {{ observations.0.location }} </h3>

<div class="d-flex justify-content-center pt-3 pb-5">
    <img src="data:image/png;base64,{{ graph }}" alt="Plot">
</div>

<div class="weather-list">
    <div class="row text-center pt-3 pb-4">
        <div class="col h4">Date</div>
        <div class="col h4">Temperature</div>
        <div class="col h4">Condition</div>
        <div class="col h4">Precipitation</div>
        <div class="col h4">Wind</div>
    </div>

    {% for weather in observations %}
    <div class="row text-center align-center py-3">
        <div class="col h5 align-self-center">
            <a href="{% url 'weather:weather_detail_bis' weather.id %}">{{ weather.date|date:"l d" }}</a>
        </div>
        <div class="col h5 align-self-center">
            High: {{weather.max_f}}˚F <br/>
            Low: {{weather.min_f}}˚F
        </div>
        <div class="col h5 align-self-center">
            <img style="" src={{ weather.condition_img }} alt="image"/>
            {{weather.condition}}
        </div>
        <div class="col h5 align-self-center">
            <i class="bi bi-droplet"></i>{{weather.precip_in}} in.
        </div>
        <div class="col h5 align-self-center">
            <i class="bi bi-wind"></i> {{weather.wind_mph}} MPH<br>
        </div>
    </div>
    <br/>
    {% endfor %}

</div>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyNo0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"
/>

{% endblock content %}