{% extends "base.html" %}
{% comment %} {% load django_vite %} {% endcomment %}
{% block content %}

<a href="{% url 'weather:weather_list' %}">Daily Weather</a>
<a href="{% url 'weather:weather_update' object.id %}">Update Observation</a><br />

    <div id="app">
        <app></app>
    </div>
    <h1>{{ object.date }}</h1>
    Max: {{object.max_f}}<br />
    Min: {{object.min_f}}<br />
    UV Index: {{object.uv}} out of 11<br />
    Notes for today: {{object.note}}

    {% for hourly in hourlys %}
        Time: {{ hourly.date }} <br>
        Temperature: {{ hourly.temp_f }} <br>
        Condition: {{ hourly.condition }} <br>
        <img src={{ hourly.condition_img }}><br>
        <br/>
    {% endfor%}

{% endblock content %}