.container{
    background-color:#d3f2ee;
    min-height: 100%;
    bottom: 0;
    min-width:100%;
    margin:0;
}
nav {
    background-color: #1ea896;
    color: white; 
    border-radius: 8px;
    
}

a {
    color: white;
}

.btn-styles {
    background-color: #1ea896;
    padding: 10px;
    border-radius: 8px;
    color: white;
    border: none;
}

/* .search-width {
    width: 10px;
} */

/* html body {
    background-color:lightsalmon;
} */

