{% extends "base.html" %}
{% load static %}

{% block content %}
<h1  class="pt-3">Hourly </h1>

{% block search %}
<form action="{% url 'hourly:hourly_search' %}" method="get">
    {% csrf_token %}
    {{hourly_search_form.as_p}}
</form>
{% endblock search %}


<div class="hourly-list">

    <div>
        <div>
            {% for hourly in object_list %}
            <div class=''>
                <a href="{% url 'hourly:hourly_detail' hourly.id %}" class="list">
                    {{ hourly.date|date:"H:00" }} 
                </a>
                {{hourly.temp_f}}
                {{hourly.condition_img}} {{hourly.condition}}
                <i class="bi bi-droplet"></i>{{hourly.precip_in}}
                <i class="bi bi-wind"></i>{{hourly.wind_dir}} {{hourly.win_mph}}
            </div>
            {% endfor %}
        </div>
    </div>

</div>


{% endblock content %}