{% extends "base.html" %}
{% load django_vite %}
{% block content %}

<a href="{% url 'weather:weather_list' %}">Observations</a>
<a href="{% url 'weather:weather_update' object.id %}">Update Observation</a><br />

    <div id="app">
        <app></app>
    </div>

    <h1>{{ object.date }}</h1>
    Temperature: {{object.temp_f}}<br />
    UV Index: {{object.uv}} out of 11<br />
    Rain Amount: {{object.precip_in}}
    Humidity: {{object.humidity}}
    Feels like {{object.feels_like}}

{% endblock content %}