{% extends "base.html" %}
{% load static %}

{% block content %}
<h1  class="pt-3">Hourly </h1>

{% block search %}
<form action="{% url 'hourly:hourly_search' %}" method="get">
    {% csrf_token %}
    {{hourly_search_form.as_p}}
</form>
{% endblock search %}


<div class="hourly-list">
    {% comment %} <div class="my-2">
        <form action="{% url 'weather:search' %}" method = 'get'>
            <div class="inner-addon left-addon">
                <i class="bi bi-search"></i>
                <input type="text" name="q" placeholder="Search Artist Name">
            </div>
        </form>
    </div>
     {% endcomment %}
    <div >
        <div>
            {% for hourly in object_list %}
            <a href="{% url 'hourly:hourly_detail' hourly.id %}" class="list">
            {{ hourly.date }}
            </a><br/>
            {% endfor %}
        </div>
       
    </div>
</div>


{% endblock content %}